<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->

  <form (ngSubmit)='onSubmit()' #f='ngForm'>
    <div id='user-data' ngModelGroup='userData' #userData='ngModelGroup'>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" ngModel required email class="form-control" #email='ngModel'>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
    </div>
    
    <div class="form-group">
      <label for="level">Level </label>
      <select name="level" id="level" class="form-control" [ngModel]='defaultOption'>
        <option value="Basic">Basic</option>
        <option value="Advanced">Advanced</option>
        <option value="Pro">Pro</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" name='password' id='password' required class="form-control" ngModel  #password='ngModel'>
      <span class="help-block" *ngIf='!password.valid && password.touched'>Please enter a valid password</span>
    </div>
  </div>
  <p *ngIf='!userData.valid && userData.touched'>Please enter valid data!</p>
    <div>
      <button class="btn btn-primary"type="submit" [disabled]='!f.valid'>Submit</button>
    </div>

  </form>
<div class="row" *ngIf='formSubmitted'>
  <h3>Your data</h3>
  <p>Your email: {{user.email}}</p>
  <p>Your level: {{user.level}}</p>
  <p>Your password: {{user.password}}</p>
</div>
  </div>
</div>
</div>
